extends ./user-base.jade

mixin ushertr(user, checked)
  tr
    td=user.name
    td=user.email
    td Insert Points

mixin evententry(index, event)
  .panel.panel-default
    .panel-heading
      h4.panel-title
        =event.name
    .panel-body
      a.btn.btn-default.pull-right(href='/attendance/#{event.uuid}/export')
        i.fa.fa-download
        |  Download Event Attendance
      //a.btn.btn-success.pull-right(style='display:none;', rel='364')
        i.fa.fa-plus
        |  Add extra
      form.form-inline(action='/attendance/#{event.uuid}/pull', method='post')
        .form-group
          input.form-control(type='number', name='ushers_to_pull')
          input.form-control.btn.btn-success(type='submit', name='submit-event-attendance', value='Pull Attendance')
      table.table.table-striped.table-bordered.table-hover
        tbody
          tr
            th Usher
            th Email
            th Points
          tr
            td(colspan='4') Confirmed Ushers
          each attendance in attendances
            if attendance.AttendanceType.name === "Confirmed"
              +ushertr(attendance.User, true)
          tr
            td(colspan='4') Requested Ushers
          each attendance in attendances
            if attendance.AttendanceType.name === "Requested"
              +ushertr(attendance.User)
          tr
            td(colspan='4') Cut Ushers
          each attendance in attendances
            if attendance.AttendanceType.name === "Cut"
              +ushertr(attendance.User)

block content
  .container
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            h3.panel-title Events to Confirm Attendance
          .panel-body
            +evententry(i, _event)

