@charset "UTF-8";
/***************************/
/*
	CVN Ushering Tracker 
	Screen.css
	Copyright 2009
	Author: Christopher Smoak
	Date: 01-15-2010
*/
/***************************/


/***** Color Palette ****/
/************************/
/* Blue       : #0d5cb5 */
/* Light Blue : #3294ea */
/* Light Gray : #363133 */
/* Dark Gray  : #141011 */
/************************/


/***   Resest   **/
* { padding:0px; margin:0px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:100%; }
html, body { height:100%; }
:focus { outline: 0; }
ul { list-style:none; }

a {color:#000000; text-decoration:underline; }
a:hover { text-decoration:none; }

body {  font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; background:url(../images/page-bg.png) repeat; }

.float-left { float:left; }
.float-right { float:right; }
.hide { display:none; }
.clear { clear:both; height:0px; line-height:0px; }
.center { width:1000px; margin:0 auto; }
/*
.success { text-align:center; padding:10px; background-color:#c8ffc5; color:#000; margin-bottom:15px; border:1px solid #034100; }
.error { text-align:center; padding:10px; background-color:#fa7373; color:#000; margin-bottom:15px;}
*/
.notice { text-align:left; padding:10px; background-color:#fffebf; color:#000; margin:10px 0; border:1px solid #000; }
.required { color:#FF0000; display:inline; }

h2 {font-size:18px; }

#container { margin:0 auto; width:800px; border-left:1px solid #FFF; border-right:1px solid #FFF; }

ul#navigation { background-color:#57574f; border-top:2px solid #333; border-bottom:2px solid #333; overflow:auto;  }
ul#navigation li { float:left; }
ul#navigation li a { display:block; background-color:#57574f; color:#FFFFFF; text-decoration:none; padding:10px 15px; border-right:1px solid #333; }
ul#navigation li a:hover { background-color:#9dae6a; }
ul#navigation li a.logout:hover { background-color:#f63c3c; }
ul#navigation li a.login { background-color:#667145; color:#000; font-weight:bold; }

#content {background-color:#FFF; color:#000; padding:10px; overflow:auto;}
#content #main { width:529px;padding-right:10px; margin-right:10px; border-right:1px solid #CCC; }
#content #main ul { list-style:circle inside; }
#content #info { width:230px; }

#content #info a.register { display:block; background-color:#9dae6a; padding:10px; text-decoration:none; color:#000; text-align:center; }
#content #info a.register:hover { background-color:#667145; }

#content #info ul { list-style:inside square; padding-bottom:10px; border-bottom:1px solid #CCC; margin:5px 0 10px 10px; }

/*
#content label { font-weight:bold; margin-right:5px; }
#content input[type=text], #content input[type=password], #content select, #content input[type=checkbox] { border:1px solid #88887d; padding:5px; }
#content textarea { background-color:#cdcdc0; border:1px solid #88887d; padding:5px; width:350px; height:200px; overflow:auto; }
#content input[type=submit] { background-color:#cdcdc0; border:1px solid #88887d; padding:5px 10px; font-weight:bold; }
*/
#footer { background-color:#57574f; color:#FFFFFF; text-align:center; padding:10px; font-weight:bold; clear:both; }

a.event { border:1px solid #666; margin-bottom: 10px; padding:10px 10px 20px 10px; display:block; text-decoration:none; }
a.event:hover { background-color:#CCC; }


ul#navigation.site-admin { background-color:#9dae6a; border-top:none; border-bottom:1px solid #333;  }
ul#navigation.site-admin li { float:left; }
ul#navigation.site-admin li a { display:block; background-color:#9dae6a; color:#FFFFFF; text-decoration:none; padding:5px 15px; border-right:1px solid #333; }
ul#navigation.site-admin li a:hover { background-color:#697447; }
ul#navigation.site-admin li a.title { background-color:#697447; color:#000; font-weight:bold; }

.box { padding:10px; border:1px solid #333; margin-bottom:10px; }
.box .event { padding:5px; background:#9dae6a url(../images/arrow-down.png) no-repeat 98% 50%; margin:5px 0; border:1px solid #697447; cursor:pointer;  }
.box {
	background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	padding:20px;
	width: 90%;
}

.box .event { 
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:5px;
	cursor:pointer; 
	background: url(../images/arrow-down.png) no-repeat 98% 50%;
}

.box .active { 
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:5px;
	cursor:pointer; 
	background: url(../images/arrow-up.png) no-repeat 98% 50%;
}

.toggle-container { padding:10px; margin-left:0px; }

.toggle-container a.export, .toggle-container a.request {
	background:#ddd;
	background:-moz-linear-gradient(90deg, #28661A, #41A62A); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#28661A), to(#41A62A)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color: #FFFFFF;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}

.toggle-container a.export:hover, .toggle-container a.request:hover {
	background:#eee;
	background:-moz-linear-gradient(90deg, #28661A, #5FF23E);
	background:-webkit-gradient(linear, left top, left bottom, from(#0bcdff), to(#067cd3));
	border-color:#093c75;
	text-decoration:none;
	color: #FFFFFF;
}

a.export, .toggle-container a.request, a.add-extra {
	background:#ddd;
	background:-moz-linear-gradient(90deg, #28661A, #41A62A); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#28661A), to(#41A62A)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color: #FFFFFF;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}


a.export:hover, .toggle-container a.request:hover, a.add-extra:hover {
	background:#eee;
	background:-moz-linear-gradient(90deg, #28661A, #5FF23E);
	background:-webkit-gradient(linear, left top, left bottom, from(#0bcdff), to(#067cd3));
	border-color:#093c75;
	text-decoration:none;
	color: #FFFFFF;
}



.toggle-container a.cancel { background-color:#fa7373; color:#000; padding:5px 10px; text-decoration:none; }
.loading {display:inline; margin-left:10px; }

table tr.head td { background-color:#CCC; font-weight:bold; }
table td { padding:5px; }
/*
table-layout: fixed;
#white-space:nowrap;
*/

a.add {background-color:#57574f; border:1px solid #333; padding:5px 10px; display:block; text-decoration:none; color:#FFF; margin-bottom:5px; }
a.add:hover { background-color:#333; }

a.add {
	background:#ddd;
	background:-moz-linear-gradient(90deg, #0459b7, #08adff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#08adff), to(#0459b7)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color: #FFFFFF;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}
a.add:hover{
	background:#eee;
	background:-moz-linear-gradient(90deg, #067cd3, #0bcdff);
	background:-webkit-gradient(linear, left top, left bottom, from(#0bcdff), to(#067cd3));
	border-color:#093c75;
	text-decoration:none;
	color: #FFFFFF;
}

/* VALIDATION ERROR MESSAGES */
.notice, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.notice {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url(../images/info.png);
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url(../images/success.png);
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url(../images/warning.png);
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url(../images/error.png);
}
.validation {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(../images/validation.png);
}


fieldset {
  padding: 10px;
  font: sans-serif;
  border: 1px solid #999999;
  }
  
legend {
	font-size: 14px;
	font-weight: bold;
	padding: 4px;

}
  
label {
  float:left;
  width: 20%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }
  
acronym, abbr  {cursor:help; border-bottom:1px dotted;  }

/*for calendar*/


form p{
	margin-bottom:20px;
}
form p:last-child{ 
	margin-bottom:0;
}
label{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:5px;
	width:120px;
}
form p:hover label{
	color:#0459b7;
}
form p:hover label:after{
	content:" »";
}
input[type=text],
input[type=password], select, textarea{
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:5px;
}
input[type=text]:focus,
input[type=password]:focus{
	border-color:#093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none; 
}
select{
	cursor:pointer;
	padding:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
}
select:active,
select:focus{
	border:1px solid #093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none;
}
input[type=submit],
a.submit{
	background:#ddd;
	background:-moz-linear-gradient(90deg, #0459b7, #08adff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#08adff), to(#0459b7)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color: #FFFFFF;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}
input[type=submit]:hover,
a.submit:hover{
	background:#eee;
	background:-moz-linear-gradient(90deg, #067cd3, #0bcdff);
	background:-webkit-gradient(linear, left top, left bottom, from(#0bcdff), to(#067cd3));
	border-color:#093c75;
	text-decoration:none;
	color: #FFFFFF;
}
input[type=submit]:active,
input[type=submit]:focus,
a.submit:active,
a.submit:focus{
	background:#ccc;
	background:-moz-linear-gradient(90deg, #0bcdff, #067cd3);
	background:-webkit-gradient(linear, left top, left bottom, from(#067cd3), to(#0bcdff));
	border-color:#093c75;
	outline:none;
	color: #FFFFFF;
}
#options{
	margin-bottom:20px;
}
#options p{
	display:none;
}
#options .show{
	display:block;
}
#options:target .show{
	display:none;
}
#options .hide{
	display:none;
}
#options:target .hide{
	display:block;
}
#options:target p{
	display:block;
}

/* tool tip*/

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}
