extends ./user-base.jade

include eventinfo.mixin.jade

block content
  .container
    .row   
      .col-lg-12
        h2.page-header Manage Your Events
      .col-sm-4
        h3
          i.fa.fa-star-o
          |  Available Events
        p
          | Below is a list of events that you can request to usher. Simply click the 
          span.label.label-success
            i.fa.fa-plus-circle
            |  Request Event
          |  button and your name will be submitted to usher the event.
        each event in events
          +eventinfo(event)
      .col-sm-4
        h3
          i.fa.fa-star-half-o
          |  Requested Events
        p
          | Below is a list of events you&apos;ve requested to usher. A few days before the event, the Usher Coordinator will choose the ushers for a show based on point total.
        each attendance in requested
          +eventinfo(attendance)
      .col-sm-4
        h3
          i.fa.fa-star
          |  Scheduled Events
        p
          | Below is a list of events that you are scheduled to usher. You can cancel your attendance up to 48 hours before a show with no point deduction. 
          a(href='http://www.purduecvn.com/resources/') Learn more about points
          | .
        |           
        h3
          i.fa.fa-times
          |  Cut Events
        p
          | Below is a list of events that you have been cut from. Being cut means you are on a waiting list in case otther ushers drop the show. 
          a(href='http://www.purduecvn.com/resources/') Learn more about being cut
          | .