extends ./base.jade

block main-content
  .container
      .row
        .col-lg-12
          h1.page-header
            | Dashboard 
            small
              | Hello #{currentuser.name} 
              a.label.label-info(href='/user/#{currentuser.uuid}', rel='tooltip', title='', data-original-title='Total points') 58
          ol.breadcrumb
            li Dashboard
      .row
        block content