extends ./base.jade

block main-content
  .container
      .row
        .col-lg-12
          h1.page-header
            | Dashboard 
            small
              | Guten Tag David Tschida 
              a.label.label-info(href='my-account.php#breakdown', rel='tooltip', title='', data-original-title='Total points') 58
          ol.breadcrumb
            li Dashboard
      // /.row
      .row
        .col-lg-12.hidden-xs
          img.img-thumbnail.img-responsive(src='//localhost:88/assets/images/banner.jpg')
      // /.row
      // Service Images
      .row
        block content